<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.registerloogin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img1"
        android:label="帮帮吧"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".setPasswordActivity" />
        <activity android:name=".identityActivity" />
        <activity
            android:name=".OrderPageActivity"
            android:label="" />
        <activity android:name=".orderDetail1" />
        <activity android:name=".EvaluateActivity" />
        <activity android:name=".HomePageActivity" />
        <activity android:name=".HelpModule" />
        <activity android:name=".showDetail"
            android:label="订单详情"></activity>
    </application>

</manifest>